.home{
    width: 100%;
    /* border: 1px solid rgb(238, 88, 88); */
    /* height: max-content; */
    background-color: rgb(222, 217, 217);
}

.home > div{
    width: 100%;
    margin-top: 3%;
    padding: 20px;
    /* border: 2px solid green; */
    /* height: max-content; */
}

.horizontal-line{
    width: 70%;
    margin: auto auto;
    margin-top: 3%;
}

.overview-newUsers > div{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}


.overview {
    background-color: white;
    /* border: 1px solid black; */
    margin: 15px;
    padding: 10px;
    overflow: hidden;
    /* margin-top: -18%; */
}

.overview > div{
    display: flex;
    justify-content: left;
    align-items: center;
    /* gap: -30%; */
    padding-left: 5%;
    padding-top: 2%;
}

.overview-graph{
    margin: auto auto;
    width: 80%;
    height: 350px;
    background-color: white;
}

.chart{
    background-color: white;
}

.newusers{
    /* border: 1px solid black; */
    height: 500px;
    margin-top: -20px;
    width: 90%;
    background-color: white;
}

.newusers > div{
    /* border: 1px solid black; */
    height: 90px;
    background-color: white;
}

.newusers > div > div{
    display: flex;
    background-color: white;
}

.chartImg{
    width: 200px;
    height: 60px;
}

.newuser-first-chart{
    margin-top: -30px;
}

.newuser-sec-chart{
    margin-top: -30px;
}


@media screen and (max-width : 1280px ) {

    .overview-newUsers > div{
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 20px;
    }

    .newusers{
        /* border: 1px solid black; */
        height: 800px;
        width: 100%;
        background-color: white;
    }
    .newusers > div{
        /* border: 3px solid pink; */
        height: 150px;
    }
}

@media screen and (max-width : 500px ) {
    .overview-headings{
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
        height: max-content;
    }

    .overview-graph{
        height: 100px;
        margin-top: -5px;
    }
    
    .chart{
        width: 100%;
        /* border: 1px solid black; */
    }

    .overview-newUsers > div{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        height: fit-content;
        gap: 20px;
        height: 1200px;
    }

    .newusers{
        /* margin-top: 20px; */
        border-top: 1px solid rgb(210, 200, 200);
        height: 920px;
    }

    .newusers > div{
        height: 200px;
    }

    .newusers > div > div{
        display: grid;
        grid-template-columns: 80%;
        /* height: 400px; */
        /* border: 1px solid black; */
        justify-content: center;
        align-items: center;
    }
    .newuser-first-chart{
        margin-top: 5px;
        width: 80%;
    }
    .newuser-sec-chart{
        width: 80%;
        margin-top: 5px;
    }
}

/* ---------------------ResourceBooking--------------------- */

.resourceChart{
    height: 100px;
    background-color: white;
}

.resourceBooking {
    padding: 10px;
    /* border: 1px solid black; */
}

.resourceBooking > h4{
    margin-top: 20px;
}

.resourceBooking > div{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
    gap: 10px;
    margin-top: -20px;
    margin-left: -20px;
    /* height: 300px; */
}
/* 
.resourceBooking-One{
    width: 40%;
    height: 300px;
}

.resourceBooking-Two{
    width: 60%;
    height: 300px;
} */

@media screen and (max-width : 500px) {
    .resourceBooking > div{
        display: grid;
        grid-template-columns: 100%;
        padding: 40px;
        /* border: 1px solid black; */
        gap: 10px;
        margin-top: -20px;
        margin-left: -20px;
        /* height: 300px; */
    }
    .resourceBooking-One{
        width: 100%;
    }
    .resourceBooking-Two{
        width: 100%;
    }
}

/* -------------------revenue------------------- */

.revenue > div{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;
    height: 150px;
    
}

.revenue-card{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 150px;
    gap: 10px;
    text-align: center;
    background-color: white;
}

.revenue-card > div > p , .revenue-card > div > h4 , .revenue-card > div{
    background-color: white;
}

.revenue-chart{
    width: 40px;
}

@media screen and (max-width : 500px) {
    .revenue > div{
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-around;
        align-items: center;
        margin: auto auto;
        height: max-content;
    }
}



/* --------------invoice revenue---------------- */

.InvoiceData{
    width: 6px;
    /* height: 400px; */
    background-color: white;
}

.invoicedRevenue{
    margin-top: 20px;
    padding: 10px;
}

.invoicedRevenue > div > h5{
    width: max-content;
    height: 70px;
    background-color: grey;
    display: flex;
}

.invoiceRevenue-specs{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
    gap: 10%;
}

.invoiceRevenue-specs > div{
    width: 300px;
    height: 50px;
    /* border: 1px solid black; */
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.invoiceRevenue-specs > div > p{
    margin-left: -20%;
    margin-top: 12px;
    background-color: grey;
}

.invoice-icon{
    background-color: grey;
    margin-left: -20%;
}

.invoice-chart{
    width: 800px;
    margin: 20px auto;
}


@media screen and (max-width : 1280px ) {

    .invoiceRevenue-specs > div{
        width: 400px;
        height: 75px;
        /* border: 1px solid black; */
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: grey;
        margin-bottom: 10px;
        border-radius: 10px;
        overflow: hidden;
    }

    .invoice-chart{
        width: 100%;
        margin: 20px auto;
    }
    

}

@media screen and (max-width : 500px ) {

    .invoiceRevenue-specs > div{
        width: 200px;
        height: 75px;
        /* border: 1px solid black; */
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: grey;
        margin-bottom: 10px;
        border-radius: 10px;
        overflow: hidden;
    }

    .invoiceRevenue-specs{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: grey; */
        gap: 10%;
    }

    .invoice-chart{
        width: 100%;
        margin: 20px auto;
    }

}

/* ----------revenueBreakDownPlan--------- */

.revenueBreakDownPlan{
    padding: 15px;
}

.revenueBreakDownPlan > h4{
    margin-bottom: 15px;
}

.revenueBreakDownPlan > div > div{
    width: 100%;
    height: 70px;
    padding: 15px;
}

.revenueBreakdown-chart{
    width: 70%;
    background-color: white;
    margin: 30px auto;
}

.breakdown-chart{
    background-color: white;
    width: 100%;
}

@media screen and (max-width : 450px) {
    
}