.sidebar{
  width: 30%;
  height: 733px;
  border: 1px solid black;
  background: white;
  color: black;
  grid-template-columns: 20% 50% 20%;
  align-items: center;
}

.fabarsIcon{
  margin-left: -30%;
  color: black;
}

.submenu-icons{
  background-color: white;
}

.icon{
  display : grid;
  grid-template-columns: 30% 50% 20%;
}
