*{
  background-color: white;
  width: 100%;
}

.header{
  width: 100%;
  height: 80px;
  border: 1px solid black;
  margin: auto auto;
}

.sidebar-content{
  display: grid;
  grid-template-columns: 10% 80%;
  gap: 10%;
}

.side-bar{
  height: 740px;
  /* border: 1px solid black;
  background-color: white; */
  /* position: fixed; */
}

.header-pages{
  background-color: rgb(222, 217, 217);
  padding: 2%;
}

.signup-login{
  border:  1px solid black;
  /* height: 900px; */
}
